<link rel="stylesheet" href="/stylesheets/" />
<%- include("../partials/_navbar.ejs") %>
<h1>Create New Account</h1>

<form action="/auth/sign-up" method="post">
    <input type="file" name="picture" accept="image/*" placeholder="Profile Picture" /><br>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter username">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter password">
    <br>

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
    <br>

    <button type="submit">Sign Up</button>
</form>

