<head>
  <link rel="stylesheet" href="/stylesheets/book.css" />
</head>
<%- include("../partials/_navbar.ejs") %>


<body>

<div class="index-container">
<h1>All books</h1>
  <ul class="book-ul">
    <div class="newBookContainer">
<a class="new-book" href="/books/new">Add a New Book</a>
</div>

  <% reader.forEach((list, index)=>{ %>
<div class="index-div">
<a href="/books/<%=list._id%>">
  <li id="book-link">
    <%=list.title%>
  </li>
</a>
</div>
  <% }) %>
</ul>
</div>

</div>
</body>
