<head>
  <link rel="stylesheet" href="/stylesheets/book.css" />
</head>
<%- include("../partials/_navbar.ejs") %>


<body>
<h1>All books</h1>
<div class="index-div">
  <ul class="book-ul">
  <% reader.forEach((list, index)=>{ %>

<a href="/books/<%=list._id%>">
  <li id="book-link">
    <%=list.title%>
  </li>
</a>
  <% }) %>
</ul>
</div>
<a class="new-book" href="/books/new">Add a New Book</a>

</body>
