<%- include("../partials/_navbar.ejs") %>

<h1>All books</h1>

<ul>
  <% reader.forEach((list, index)=>{ %>

<a href="/books/<%=list._id%>">
  <li>
    <%=list.title%>
  </li>
</a>
  <% }) %>
</ul>
<a href="/books/new">Add a New Book</a>
