<%- include("../partials/_navbar.ejs") %>

<h1>All books</h1>

<ul>
  <% reader.forEach((list, index)=>{ %>

<a href="/books/<%=list._id%>">
  <li>
    <%=list.title%>
  </li>
</a>
  <% }) %>
</ul>


<button id="openUp">open reminder</button>
<div class="block ">
  <div id="box">
    <button id="close-popUp">close</button>
  </div>
</div>

<style>
.block {
background-color: rgb(120, 152, 180);
opacity: 0;
position: fixed;
top: 0;
right: 0;
bottom:0;
left: 0;
display: flex;


}
</style>
<script>

const reminder = document.querySelector("#openUp")
const closeBtn = document.querySelector("#close-popUp")
const block = document.querySelector("#block")
const reader = null
const isDoneReading = null
const pagesPerDay = null
const numOfPages = null


if(reader.isDoneReading >= reader.pagesPerDay && reader.pagesPerDay === numOfPages){
 return ("congrats! you have finished reading")
 reminder.addEventListener("click", ()=>{
  block.style.opacity = 1
})

} else {
  return("you Haven't finished reading! you need to read 10 more pages today!(:")
}


closeBtn.addEventListener("click", ()=>{
  block.classList.remove("open")
})

// reminder.addEventListener("click", ()=>{
//   if(reader.isDoneReading >= reader.pagesPerDay && reader.pagesPerDay === numOfPages){
//     return ("congrats! you have finished reading")
//   } else {
//     return("you Haven't finished reading! you need to read 10 more pages today!(:")

//   }
//   block.classList.add("open")
// })
