<%- include("../partials/_navbar.ejs") %>

<h1>All books</h1>

<ul>
  <% reader.forEach((list, index)=>{ %>

<a href="/books/<%=list._id%>">
  <li>
    <%=list.title%>
  </li>
</a>
  <% }) %>
</ul>


<div class="block ">
  <button id="openUp">open reminder</button>
  <p>congrats! you have finished reading</p>
  <button id="close-popUp">close</button>
</div>

<style>
.block {
background-color: rgb(120, 152, 180);
visibility: hidden;


}
</style>
<script>
axios.get("http://localhost:3000/books")

const reminder = document.querySelector("#openUp")
const closeBtn = document.querySelector("#close-popUp")
const block = document.querySelector(".block")
const reader = axios
const isDoneReading = null
const pagesPerDay = null
const numOfPages = null

console.log("hello i am workinggg")

closeBtn.addEventListener("click", ()=> {
  block.style.visibility= "hidden"
})

reader.forEach(list => {
if(list.isDoneReading){
  block.style.visibility = "visible"}
});

// if(reader.isDoneReading >= reader.pagesPerDay && reader.pagesPerDay == numOfPages){
//   block.style.visibility = "visible"
//  return ("congrats! you have finished reading")
//  reminder.addEventListener("click", ()=> {
//   block.style.opacity = 1
// })

// } else {
//   return("you Haven't finished reading! you need to read 10 more pages today!(:")
// }
 // reminder.addEventListener("click", ()=>{
//   if(reader.isDoneReading >= reader.pagesPerDay && reader.pagesPerDay === numOfPages){
//     return ("congrats! you have finished reading")
//   } else {
//     return("you Haven't finished reading! you need to read 10 more pages today!(:")

//   }
//   block.classList.add("open")
// })
</script>


