<head>
  <link rel="stylesheet" href="/stylesheets/book.css" />
</head>
<%- include("../partials/_navbar.ejs") %>
<body>

<div class="new-container">
  <h1>Add Your book</h1>
<div class="new-body">
<form action="/books" method="post">
  <label for="title">Book Title</label>
  <input type="text" name="title" id="title">
  <br>

  <label for="numOfPages">Number of pages</label>
  <input type="number" name="numOfPages" id="numOfPages">
  <br>

  <label for="pagesPerDay">Pages Per Day</label>
  <input type="number" name="pagesPerDay" id="pagesPerDay">
  <br>

  

  <br>

  <button type="submit"><img src="../photos/add.png" alt="search" width="30" height="30" /></button>
</form>
</div>
</div>
</body>

