<nav>
<% if(user){%>
<p>Welcome <%= user.username%> to the SoftSchedule App !</p>
<a href="/auth/sign-out">Sign-Out</a>
<a href="/tasks">My To-Do-List</a>
<a href="/books/new">Books</a>

<%} else { %>
 <p>welcome to the app guest!</p>
  <a href="/auth/sign-up">Sign-Up</a>
  <a href="/auth/sign-in">Sign-In</a>

<%}%>


</nav>
