<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include("./partials/_navbar.ejs") %>

<title>Home</title>
<body>
  <div id="home-page-container">
    <div id="title">
  <h1 class="home-h1">Welcome To SoftSchedule</h1>
  <p>Plan your day. Track progress. Achieve!</p>
</div>

  <div id="home-page">
    <div class="home-button">
      <a href="/tasks" class="home-link">My Tasks</a>
    </div>
    <br />
    <div class="home-button">
      <a href="/diary" class="home-link">My Diaries</a>
    </div>
    <br />
    <div class="home-button">
      <a href="/goals" class="home-link">My Goals</a>
    </div>
    <br />
    <div class="home-button">
      <a href="/books" class="home-link">My Books</a>
    </div>
    <br />
  </div>
  </div>


</body>
