body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFF8E6;
  color: #7c3232;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 6px 14px #654e4e;
}

h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 6px 14px #654e4e;
}
p {
font-size: 20px;
text-align: center;
}


.new-body {
 display: flex;
 justify-content: center;
 align-items: center;
 justify-content: space-around;
 align-items: center;
 margin: 20px 20px;
 padding: 15px 15px;
}

.edit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
  padding: 15px 15px;

}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 8px;
  height: 35px;
}

.update {
   padding: 10px;
  background-color: rgb(43, 72, 78);
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

button {
  padding: 10px;
  background-color: rgb(43, 72, 78);
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.removebtn {
 padding: 10px;
  background-color: rgb(43, 72, 78);
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

button:hover{
   background-color: rgb(78, 138, 150);
}

a:hover {
  background-color: rgb(130, 173, 157);
  padding: 10px;
}
.checkbox-div {
  flex-direction: row;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 52vh;
}

.detail {
  background-color: #edba8e;
  border-radius: 15px;
  height: 300px;
  width:300px;
  text-align: center;
  box-shadow: 3px 3px 4px 4px rosybrown;
}


