body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #EAEAEA;
  color: #7572A7;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 6px 14px #514e65;
}

h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 6px 14px #514e65;
}
p {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

.new-container {
  display: flex;
  align-items: center;
  height: 75vh;
  flex-direction: column;
}

.new-body {
  background-color: #6A89AA;
  color: aliceblue;
  border-radius: 16px;
   width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
  padding: 15px 15px;
}

.edit-body {
  background-color: #6A89AA;
  color: aliceblue;
  border-radius: 16px;
   width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  padding: 15px 15px;
}

.index-container {
  display: flex;
  justify-content: center;
}

.index-div {
  background-color: #6A89AA;
  color: aliceblue;
  width: 20vw;
  border-radius: 25px;
  margin: 20px 20px;
  padding: 15px 15px;
  box-shadow: 3px 3px 4px 4px #465361;
}

.book-ul {
  text-align: left;
  list-style: none;
  text-decoration: none;
}
.book-link {
  text-align: left;
  text-decoration: none;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 8px;
  height: 35px;
}

.update {
  padding: 10px;
  background-color: #6A89AA;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

button {
  padding: 10px;
  background-color: rgb(43, 72, 78);
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.removebtn {
  padding: 10px;
  background-color: rgb(43, 72, 78);
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

button:hover {
  background-color: rgb(78, 138, 150);
}

a:hover {
background-color: rgb(130, 173, 157);
}
.new-book {
  padding: 10px;
  margin: 10px;
}
.new-book :hover {
  background-color: rgb(78, 138, 150);
}

.checkbox-div {
  flex-direction: row;
}

.container {
  display: flex;
  align-items: center;
  height: 75vh;
  flex-direction: column;
}

.detail {
  background-color: #6A89AA;
   color: aliceblue;
  border-radius: 15px;
  height: 350px;
  width: 350px;
  text-align: center;
  padding-top: 3px;
  box-shadow: 3px 3px 4px 4px rgb(61, 67, 78);
}


