<h1>New Diary Entry</h1>

<form action="/diary" method="POST">
  <label>Mood:</label>
  <select name="mood" required>
    <option value="Happy">Happy</option>
    <option value="Sad">Sad</option>
    <option value="Angry">Angry</option>
    <option value="Relaxed">Relaxed</option>
  </select>
  <br />

  <label>Date:</label>
  <input type="date" name="date" id="date" />
  <br />

  <label>Diary Text:</label><br />
  <textarea name="text" placeholder="What's Happening Today?"></textarea>
  <br />

  <button type="submit">Save Entry</button>
</form>
